<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="app">
        <div class="panel scores">
            <div class="score">
                <div class="jogador">
                    <h1>Jogador</h1>
                    <div class="life-bar">
                        <div class="life" :class="{danger: playerLife < 20 }" :style="{width: playerLife+'%'}"></div>
                    </div>
                    <div>{{playerLife}} %</div>
                </div>
            </div>
            <div class="score">
                <div class="monstro">
                    <h1>Monstro</h1>
                    <div class="life-bar">
                        <div class="life" :class="{danger: playerLife < 20 }" :style="{width: monsterLife+'%'}"></div>
                    </div>
                    <div>{{monsterLife}} %</div>
                </div>
            </div>
        </div>
        <div v-if="hasResult" class="result">
            <div v-if="playerLife == 0" class="perdeu">Voce Perdeu!!!</div>
            <div v-else class="ganhou">Voce Ganhou!!!</div>
        </div>
        <div class="result">
            <template v-if="running == true">
                <button class="btn ataque" @click="attack(false)">Ataque</button>
                <button class="btn ataque-especial" @click="attack(true)">Ataque especial</button>
                <button class="btn curar">Curar</button>
                <button class="btn desistir" v-on:click="running = !running">Desistir</button>
            </template>
            <button v-else class="btn iniciar" @click="startGame">Iniciar</button>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>