#app{
    display: flex;
    flex-direction: column;
}

.scores{
    display: flex;
    
}
.score{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel{
    border: 1px solid green;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.life-bar{
    border: 1px solid black;
   
    height: 20px;
    
}
.life{
    display: flex;
    justify-content: center;
    background-color: green;
    height: 100%;
    width: 50%;
}
 .danger{
    background-color: red;
}
.result{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    border: 1px solid green;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.perdeu{
    color: red;
}
.ganhou{
    color: green;
}
